[submodule "submodules/simple-knn"]
	path = submodules/simple-knn
	url = https://gitlab.inria.fr/bkerbl/simple-knn.git
[submodule "submodules/depth-diff-gaussian-rasterization"]
	path = submodules/depth-diff-gaussian-rasterization
	url = https://github.com/ingra14m/depth-diff-gaussian-rasterization
[submodule "submodules/Depth-Anything"]
	path = submodules/Depth-Anything
	url = https://github.com/LiheYoung/Depth-Anything.git
[submodule "submodules/tiny-cuda-nn"]
	path = submodules/tiny-cuda-nn
	url = https://github.com/NVlabs/tiny-cuda-nn.git
